<div class="col-md-12" style="height:600px;">
<h4>{{chat.title}} <small ng-repeat="memb in chat.members">{{memb.name+' '}}</small></h5>
<a class="btn btn-default" ui-sref="chatapp.chats">exit</a>
<div class="list-group" style="height:90%;overflow:scroll;">

  <div class="list-group-item clearfix" ng-class="getColour(msg);" ng-repeat="msg in messages">
    <div class="pull-left">

      {{msg.author.name}}: {{msg.text}}
    </div>
    <div class="pull-right">

      {{moment(msg.created).format('D MMM h:mma')}}
    </div>
    <div class="btn pull-right" ng-click="deleteMsg(msg)">x</div>
  </div>
  <br> <br>
</div>

<form ng-submit="sendMsg()">
  <div class="input-group">
    <input type="text" class="form-control" ng-model="newMsg.text" placeholder="Start typing...">
    <div class="input-group-addon btn" ng-click="sendMsg2()">GO</div>
  </div>
</form>



<button class="btn btn-default" ng-click="debug=!debug">Debug on/off</button>
<pre ng-show="debug">

  {{messages | json}}
  {{socketdata | json}}
</pre>

</div>
