.panel .list-group {
margin-bottom: 0px;
}
li{
  vertical-align: text-top;
};

.panel .panel-heading{
  margin-left:100px;
  padding:100px;
}

.navbar-nav>li {
        float: none;
        text-align: center;
        display: inline-block;
    }
