<!--
<div class="panel-body">
  <a href="#" >
    <span class="glyphicon glyphicon-plus"></span> Create a new chat
  </a>
</div>
-->
  <div class="list-group">

      <a ui-sref="addchat" class="list-group-item" >
        <span class="glyphicon glyphicon-plus"></span>
        <em>Create a new chat</em>
      </a>

      <a  ng-repeat="chat in chats" ui-sref="viewchat({id:chat._id})" class="list-group-item">
        <ul class="list-inline">
        <li class="hidden-xs">
          <span class="glyphicon glyphicon-comment"></span><br>

        </li>
        <li>
          <b class="hidden-xs">{{chat.title }}</b>
          <b class="visible-xs">{{chat.title |limitTo: 17}}{{chat.title.length>20?'...':''}}</b><br>
           <small ng-repeat="memb in chat.members">{{memb.name+' '}}</small>
        </li>
        <li class="pull-right">
          <button class="btn btn-sm" ng-click="delModal(chat.title,chat,$index)"><span class="glyphicon glyphicon-remove"></span></button>
        </li>
        <li class="pull-right">
          <small>{{moment(chat.updated).fromNow()}}</small><br>
          <span class="badge">42</span>
        </li>

      </ul>
      </a>


  </div>

<pre>
  {{chats | json}}
</pre>
<!--
<div ng-repeat="chat in chats" class="row">
  <a href="#">
    <div class="col-xs-4 col-sm-2 col-md-1 pull-left">
      <img class="img-responsive img-rounded" ng-src="{{chat.img}}" alt="" />
    </div>
    <div class="col-xs-5 col-sm-5 col-md-3 pull-left">
      <b>{{chat.title}}</b> <br>
      <p>
        {{chat.msg.author}}: {{chat.msg.text}}
      </p>
    </div>
    <div class="col-xs-2 col-sm-3 pull-left">
      <small>{{chat.msg.time | date}}</small>
    </div>

  </a>

</div>
-->
